<<<<<<< HEAD

.Quizigma_logo{
    width:101px;
}
.title{
    font-size:24px; 
    color:#404044;
    font-weight: 600;
}

 .form-control {
     border-color: #B4B4B4;
     border-width: 0.1rem;
   
 }
 
 .form-control:focus {
    border-color: #AA6AAA;
    box-shadow: none;
  
}
.form-label{
    font-weight: 500;
    color: #7c7c7c;
}
 .hyper{
    text-decoration: none;
 }
 
 .hyper- {
     text-decoration: none;
     color:#AA6AAA;
 }
 .hyper-:hover {
    text-decoration: underline;
    color: #AA6AAA;
}

 .btn{
    background-color:#AA6AAA; 
    color:white; 
    width:100%;
    height:3rem;
    font-size: 18px;
 }
=======

.Quizigma_logo{
    width:101px;
}
.title{
    font-size:24px; 
    color:#404044;
    font-weight: 600;
}

 .form-control {
     border-color: #B4B4B4;
     border-width: 0.1rem;
   
 }
 
 .form-control:focus {
    border-color: #AA6AAA;
    box-shadow: none;
  
}
.form-label{
    font-weight: 500;
    color: #7c7c7c;
}
 .hyper{
    text-decoration: none;
 }
 
 .hyper- {
     text-decoration: none;
     color:#AA6AAA;
 }
 .hyper-:hover {
    text-decoration: underline;
    color: #AA6AAA;
}

 .btn{
    background-color:#AA6AAA; 
    color:white; 
    width:100%;
    height:3rem;
    font-size: 18px;
 }

 /* Basic styles for the logo and user profile icon */
.logo {
    width: 100px;
    height: 70px;
    background-color: black;
    
}

.user-profile {
    position: fixed;
    max-width: 2%;
    max-height: 3%;
    top: 10px;
    right: 100px;
    cursor: pointer;
}

/* Style for the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Style for the delete column (you can use an icon library for the delete icon) */
.delete-icon {
    cursor: pointer;
}

/* Style for the modal dialog */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.modal-buttons {
    margin-top: 20px;
}

.modal button {
    margin: 0 10px;
}


/* Back button style */
.back-button {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: #0077b6; /* Adjust the color as needed */
    font-weight: bold;
}

/* Center the user image and text */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

/* Style for the edit button */
.edit-button {
    margin-top: auto;
    padding: 10px 20px;
    background-color: #0077b6; /* Adjust the color as needed */
    color: #fff;
    border: none;
    cursor: pointer;
}

.profile {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .profile .div {
    background-color: #ffffff;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .profile .overlap {
    position: absolute;
    width: 81px;
    height: 110px;
    top: 189px;
    left: 559px;
  }
  
  .profile .group {
    width: 65px;
    height: 82px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .profile .frame {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 30px;
    left: 1px;
    background-color: #000000;
    border-radius: 40px;
    overflow: hidden;
  }
  
  .profile .text-wrapper {
    position: absolute;
    width: 49px;
    height: 53px;
    top: 12px;
    left: 15px;
    font-family: "Inria Sans", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .profile .overlap-group {
    position: absolute;
    width: 81px;
    height: 110px;
    top: 189px;
    left: 670px;
  }
  
  .profile .overlap-2 {
    position: absolute;
    width: 145px;
    height: 180px;
    top: 453px;
    left: 606px;
    border-radius: 8px;
  }
  
  .profile .frame-2 {
    position: absolute;
    width: 145px;
    height: 180px;
    top: 0;
    left: 0;
    background-color: #000000;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .profile .overlap-group-2 {
    position: absolute;
    width: 53px;
    height: 75px;
    top: 24px;
    left: 47px;
  }
  
  .profile .img {
    width: 50px;
    height: 75px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .profile .div-wrapper {
    position: absolute;
    width: 52px;
    height: 50px;
    top: 25px;
    left: 1px;
    background-color: #ffffff;
    border-radius: 25px;
    overflow: hidden;
  }
  
  .profile .text-wrapper-2 {
    width: 49px;
    height: 53px;
    top: -4px;
    left: 0;
    color: #000000;
    font-size: 32px;
    position: absolute;
    font-family: "Inria Sans", Helvetica;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .profile .ht-icons-removebg {
    width: 20px;
    height: 20px;
    top: 18px;
    left: 18px;
    position: absolute;
    object-fit: cover;
  }
  
  .profile .text-wrapper-3 {
    position: absolute;
    width: 106px;
    height: 46px;
    top: 109px;
    left: 21px;
    font-family: "Inknut Antiqua", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .profile .frame-3 {
    position: absolute;
    width: 145px;
    height: 180px;
    top: 453px;
    left: 1116px;
    background-color: #000000;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .profile .ht-icons-removebg-2 {
    width: 20px;
    height: 20px;
    top: 16px;
    left: 10px;
    position: absolute;
    object-fit: cover;
  }
  
  .profile .overlap-3 {
    position: absolute;
    width: 66px;
    height: 65px;
    top: 32px;
    left: 40px;
  }
  
  .profile .ok {
    position: absolute;
    width: 24px;
    height: 21px;
    top: 22px;
    left: 21px;
  }
  
  .profile .circular-arrows {
    position: absolute;
    width: 66px;
    height: 65px;
    top: 0;
    left: 0;
  }
  
  .profile .text-wrapper-4 {
    position: absolute;
    width: 106px;
    height: 46px;
    top: 107px;
    left: 21px;
    font-family: "Inknut Antiqua", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .profile .frame-4 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 219px;
    left: 782px;
    background-color: #000000;
    border-radius: 40px;
    overflow: hidden;
  }
  
  .profile .frame-5 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 219px;
    left: 1103px;
    background-color: #000000;
    border-radius: 40px;
    overflow: hidden;
  }
  
  .profile .frame-6 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 219px;
    left: 1202px;
    background-color: #000000;
    border-radius: 40px;
    overflow: hidden;
  }
  
  .profile .frame-7 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 219px;
    left: 992px;
    background-color: #000000;
    border-radius: 40px;
    overflow: hidden;
  }
  
  .profile .frame-8 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 219px;
    left: 881px;
    background-color: #000000;
    border-radius: 40px;
    overflow: hidden;
  }
  
  .profile .account-wrapper {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 290px;
    left: 134px;
    background-color: #000000;
    border-radius: 75px;
    overflow: hidden;
  }
  
  .profile .account {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 25px;
    left: 25px;
  }
  
  .profile .line {
    position: absolute;
    width: 2px;
    height: 675px;
    top: 219px;
    left: 430px;
  }
  
  .profile .line-2 {
    position: absolute;
    width: 887px;
    height: 2px;
    top: 414px;
    left: 479px;
  }
  
  .profile .line-3 {
    position: absolute;
    width: 887px;
    height: 2px;
    top: 684px;
    left: 479px;
  }
  
  .profile .right-arrow {
    top: 491px;
    left: 1301px;
    position: absolute;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .profile .right-arrow-2 {
    top: 789px;
    left: 1316px;
    position: absolute;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .profile .right-arrow-3 {
    top: 493px;
    left: 460px;
    position: absolute;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .profile .ht-icons-removebg-3 {
    width: 99px;
    height: 100px;
    top: 50px;
    left: 50px;
    position: absolute;
    object-fit: cover;
  }
  
  .profile .text-wrapper-5 {
    position: absolute;
    width: 186px;
    height: 28px;
    top: 481px;
    left: 146px;
    font-family: "Inria Sans", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .profile .text-wrapper-6 {
    position: absolute;
    width: 311px;
    height: 26px;
    top: 532px;
    left: 69px;
    font-family: "Inria Sans", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .profile .overlap-4 {
    position: absolute;
    width: 180px;
    height: 56px;
    top: 763px;
    left: 213px;
  }
  
  .profile .frame-9 {
    position: absolute;
    width: 173px;
    height: 56px;
    top: 0;
    left: 0;
    background-color: #000000;
    border-radius: 8px;
  }
  
  .profile .text-wrapper-7 {
    position: absolute;
    width: 180px;
    height: 42px;
    top: 4px;
    left: 0;
    font-family: "Inknut Antiqua", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .profile .overlap-5 {
    position: absolute;
    width: 209px;
    height: 88px;
    top: 308px;
    left: 548px;
  }
  
  .profile .text-wrapper-8 {
    width: 209px;
    height: 46px;
    top: 0;
    left: 0;
    font-family: "Inknut Antiqua", Helvetica;
    color: #000000;
    font-size: 20px;
    position: absolute;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .profile .text-wrapper-9 {
    width: 52px;
    height: 46px;
    top: 42px;
    left: 71px;
    color: #000000;
    font-size: 32px;
    position: absolute;
    font-family: "Inria Sans", Helvetica;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .profile .overlap-6 {
    position: absolute;
    width: 209px;
    height: 88px;
    top: 308px;
    left: 1052px;
  }
  
  .profile .overlap-7 {
    position: absolute;
    width: 145px;
    height: 180px;
    top: 453px;
    left: 774px;
    border-radius: 8px;
  }
  
  .profile .text-wrapper-10 {
    width: 49px;
    height: 53px;
    top: -4px;
    left: 0;
    color: #000000;
    font-size: 24px;
    position: absolute;
    font-family: "Inria Sans", Helvetica;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .profile .text-wrapper-11 {
    position: absolute;
    width: 121px;
    height: 46px;
    top: 109px;
    left: 17px;
    font-family: "Inknut Antiqua", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .profile .overlap-8 {
    position: absolute;
    width: 145px;
    height: 180px;
    top: 453px;
    left: 945px;
    border-radius: 8px;
  }
  
  .profile .text-wrapper-12 {
    position: absolute;
    width: 106px;
    height: 46px;
    top: 109px;
    left: 19px;
    font-family: "Inknut Antiqua", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .profile .overlap-9 {
    position: absolute;
    width: 56px;
    height: 55px;
    top: 84px;
    left: 1178px;
    background-image: url(https://c.animaapp.com/yi3RCbNS/img/vector-3.svg);
    background-size: 100% 100%;
  }
  
  .profile .vector {
    position: absolute;
    width: 56px;
    height: 55px;
    top: 0;
    left: 0;
  }
  
  .profile .overlap-10 {
    position: absolute;
    width: 55px;
    height: 76px;
    top: 74px;
    left: 1261px;
  }
  
  .profile .frame-10 {
    position: absolute;
    width: 55px;
    height: 56px;
    top: 10px;
    left: 0;
    background-color: #000000;
    border-radius: 40px;
  }
  
  .profile .account-2 {
    position: absolute;
    width: 40px;
    height: 76px;
    top: 0;
    left: 8px;
  }
  
  .profile .overlap-11 {
    position: absolute;
    width: 287px;
    height: 259px;
    top: 722px;
    left: 595px;
  }
  
  .profile .arrow {
    position: absolute;
    width: 22px;
    height: 248px;
    top: 0;
    left: 0;
  }
  
  .profile .arrow-2 {
    position: absolute;
    width: 276px;
    height: 22px;
    top: 236px;
    left: 11px;
  }
  
  .profile .frame-11 {
    position: absolute;
    width: 46px;
    height: 179px;
    top: 68px;
    left: 42px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .profile .frame-12 {
    position: absolute;
    width: 46px;
    height: 207px;
    top: 40px;
    left: 114px;
    background-color: #000000;
    border: 1px solid;
  }
  
  .profile .frame-13 {
    position: absolute;
    width: 46px;
    height: 126px;
    top: 122px;
    left: 181px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
  }
  
  .profile .overlap-wrapper {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 738px;
    left: 990px;
    background-color: #000000;
    border-radius: 175px;
    overflow: hidden;
    border: 1px solid;
  }
  
  .profile .overlap-12 {
    position: relative;
    height: 250px;
    background-image: url(https://c.animaapp.com/yi3RCbNS/img/90-degrees.png);
    background-size: 100% 100%;
  }
  
  .profile .element {
    top: 50px;
    left: 132px;
    color: #000000;
    position: absolute;
    width: 105px;
    height: 46px;
    font-family: "Inria Sans", Helvetica;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .profile .span {
    font-family: "Inria Sans", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
  }
  
  .profile .text-wrapper-13 {
    font-size: 20px;
  }
  
  .profile .text-wrapper-14 {
    top: 163px;
    left: 45px;
    color: #ffffff;
    position: absolute;
    width: 105px;
    height: 46px;
    font-family: "Inria Sans", Helvetica;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .profile .overlap-13 {
    position: absolute;
    width: 55px;
    height: 56px;
    top: 84px;
    left: 1096px;
    background-color: #000000;
    border-radius: 40px;
  }
  
  .profile .fire {
    position: absolute;
    width: 32px;
    height: 35px;
    top: 10px;
    left: 12px;
  }
  
  .profile .frame-14 {
    position: absolute;
    width: 55px;
    height: 56px;
    top: 0;
    left: 0;
    background-color: #000000;
    border-radius: 40px;
    overflow: hidden;
  }
  
  .profile .text-wrapper-15 {
    width: 37px;
    height: 16px;
    top: 19px;
    left: 9px;
    color: #ffffff;
    font-size: 20px;
    white-space: nowrap;
    position: absolute;
    font-family: "Inria Sans", Helvetica;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .profile .overlap-14 {
    position: absolute;
    width: 180px;
    height: 56px;
    top: 763px;
    left: 18px;
  }
  
  .profile .frame-15 {
    position: absolute;
    width: 157px;
    height: 56px;
    top: 0;
    left: 12px;
    background-color: #000000;
    border-radius: 5px;
  }
  
  .profile .text-wrapper-16 {
    position: absolute;
    width: 180px;
    height: 42px;
    top: 6px;
    left: 0;
    font-family: "Inknut Antiqua", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
>>>>>>> 63671654101243f1b6683d6cb15c675f7ac48bd0
